.h1 {
    display: flex;
    align-content: center;
    font-family: monospace;
}
.navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 25px;
    border-style: double  rgb(3, 26, 3);
    background: #afdd6f;
    padding: 20px;
    height: 35px;


}
.navbar_item{
    flex-basis: 20%;
    align-content: space-between;
}